<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "net.shellcor.www"
        versionCode="1" 
        version   = "1.0.0">

    <icon src="icon.png" width="57" height="57" />
    
    <name>Grooming App</name>

    <description>
        App to keep track of your pets grooming schedule
    </description>

    <author href="https://shellcor.net" email="shellcor@gmail.com">
        Shelley Cornelsen
    </author>

    <plugin name="Capture" value="CDVCapture" />
    <plugin name="Camera" value="CDVCamera" />



</widget>
